@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
*{
    margin: 0;
    padding: 5px;
}
body{
  font-family: 'Open Sans', Arial, sans-serif;
}
.nav-conteiner>nav{
    position: absolute;
    display: flex;

    justify-content:space-between;
    align-items: center;
    text-align: center;
    width: 100%;
  

  }

  .nav-conteiner>nav>ul {
    display: flex;
    flex-direction:row;
    align-items: start;
    list-style-type: none;
    width: 100%;
}


.nav-conteiner>nav>ul>li>a {
    --fill-color: #3e4982;
    position: relative;
    display: block;
    padding: 4px 0;
    font: 700 1.5rem Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    transition: 0.5s linear;
}
.nav-conteiner>nav>ul>li>a:hover {
  background-size: 100%;
}